{% set page_title = page_title|default("Indigo Auto Lights") %}
<div id="header">
    <img src="/static/images/icon.png" alt="Logo" class="header-logo">
    <div class="page-title">{{ page_title }}</div>
    <nav id="header-nav">
        <a href="/plugin_config" class="tab">Auto Lights Configuration</a>
        <a href="/zones" class="tab">Zones</a>
        <a href="/lighting_periods" class="tab">Lighting Periods</a>
        <a href="/config_backup" class="tab">Config Backup</a>
        <a href="/" class="tab">Documentation</a>
    </nav>
</div>
