<div id="sidebar" class="collapsed">
  
  <div id="hamburger" onclick="toggleNav()">&#x21D0;</div>
  <ul style="list-style-type: none; padding-left: 0;">
    <li><a href="/plugin_config"><span class="full-label">Plugin Configuration</span><span class="abbr-label">PC</span></a></li>
    <li><a href="/zones"><span class="full-label">Zones</span><span class="abbr-label">Z</span></a></li>
    <li><a href="/lighting_periods"><span class="full-label">Lighting Periods</span><span class="abbr-label">LP</span></a></li>
  </ul>
</div>
<script>
function toggleNav() {
  var sidebar = document.getElementById('sidebar');
  var hamburger = document.getElementById('hamburger');
  if (sidebar.classList.contains('collapsed')) {
    sidebar.classList.remove('collapsed');
    hamburger.innerHTML = "&#x21D2;";
  } else {
    sidebar.classList.add('collapsed');
    hamburger.innerHTML = "&#x21D0;";
  }
}
</script>
